/************************************************

CSS REGLER FOR FONTS

*************************************************/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif !important;
}

p {
  font-family: 'Open Sans', sans-serif !important;
}

/************************************************

CSS GENERELLE REGLER

*************************************************/

.fsize-xs {
  font-size: 14px;
}

/* font-size 16px */

.fsize-sm {
  font-size: 16px;
}

/* font-size 18px */

.fsize-md {
  font-size: 18px;
}

/* font-size 30px */

.fsize-lg {
  font-size: 30px;
}

/* font-size 48px */

.fsize-xl {
  font-size: 48px;
}

/* font-size 60px */

.fsize-xxl {
  font-size: 60px;
}

/* font-size 80px */

.fsize-xxxl {
  font-size: 120px;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.justify-content {
  display: flex;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.space {
  margin-top: 30px;
}

.space-xl {
  margin-top: 50px;
}

/************************************************

CSS REGLER FOR KNAPPER

*************************************************/

.btn {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  padding: 16px 50px !important;
  border-radius: 5px !important;
  margin-bottom: 10px !important
}

.btn-primary {
  background-color: #54b9a0 !important;
  border: 1px solid #54b9a0 !important;
  color: #ffffff !important;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  -moz-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
}

.btn-primary:hover {
  background-color: #fbba1c !important;
  border: 1px solid #fbba1c !important;
  color: #3c3c3c !important;
}

.btn-secondary {
  background-color: #ffffff !important;
  border: 1px solid #54b9a0 !important;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  -moz-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  color: #54b9a0 !important;
}

.btn-secondary:hover {
  background-color: #3c3c3c !important;
  border: 1px solid #3c3c3c !important;
  color: #fbba1c !important;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none !important;
}

/************************************************

CSS REGLER FOR BILLEDFORMAT (JPG, PNG, SVG) OG LOGO

*************************************************/

.primary-logo {
  max-width: 182px;
}

.secondary-logo {
  max-width: 182px;
}

.footer-logo {
  max-width: 240px;
  margin-bottom: 20px;
}

.translate-svg {
  width: 15px;
  height: 15px;
  margin-right: 9px;
}

/************************************************

CSS REGLER FOR NAVIGATION

*************************************************/

.navbar {
  min-height: 80px;
  padding-left: 0 !important;
  -webkit-box-align: baseline !important;
  -ms-flex-align: baseline !important;
  align-items: baseline !important;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

.navbar .navbar-brand {
  padding: 16px 24px;
}

.navbar .nav-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 15px;
  margin-left: 20px;
  color: #3c3c3c;
}

.navbar .navbar-right .nav-item .nav-link {
  margin-left: 0;
  padding: 2px 19px;
}

.navbar .navbar-right .nav-item .nav-link {
  color: #d8d8d8;
}

.navbar .navbar-right .nav-item-reversed .nav-link {
  color: #ffffff !important;
}

.navbar .navbar-right .nav-item {
  background-color: #ffffff;
  border: 2px solid #d8d8d8;
  border-radius: 5px;
  margin-right: 20px;
}

.navbar .navbar-right .nav-item-reversed {
  background-color: #54b9a0 !important;
  border: 1px solid #54b9a0 !important;
}

/************************************************

CSS REGLER FOR STICKY NAVIGATION

*************************************************/

/** For sticky navigation **/

.sticky-top {
  margin-bottom: 70px;
}

.stuck .sticky-top {
  background-color: #54b9a0 !important;
}

.stuck .sticky-top .nav-item .nav-link {
  color: #ffffff !important;
}

.stuck .sticky-top .primary-logo {
  display: none;
}

.stuck .sticky-top .secondary-logo {
  display: inline-block !important;
}

.stuck .sticky-top .navbar .navbar-right .nav-item .nav-link {
  color: #ffffff;
}

.stuck .sticky-top .navbar-right .nav-item-reversed .nav-link {
  color: #54b9a0 !important;
}

.stuck .sticky-top .navbar-right .nav-item {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.stuck .sticky-top .navbar-right .nav-item-reversed {
  background-color: #ffffff !important;
  border: 1px solid #ffffff !important;
}

.stuck .sticky-top .dropdown-toggle::after, .stuck .navbar-right .nav-item .dropdown-toggle::after {
  content: url(../images/arrow-down-white.svg) !important;
}

/************************************************

CSS REGLER FOR DROPDOWN

*************************************************/

.dropdown-menu {
  background-color: #f3f1f1 !important;
  font-family: 'Raleway', sans-serif !important;
  font-size: 14px !important;
  border-radius: 1px !important;
  border: none !important;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  -moz-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  width: 24rem;
  padding: 24px 0 !important;
  margin: 16px 27px !important;
}

.dropdown-menu .noextra {
  width: 10rem !important;
  background: red !important;
  font-size: 50px !important;
}

.dropdown-menu.show {
  display: flex !important;
}

.dropdown-divider {
  border-left: 1px solid #d8d8d8 !important;
  min-height: 135px !important;
  position: absolute !important;
  right: 211px !important;
}

.dropdown-item {
  color: #3c3c3c;
}

.dropdown-item:hover {
  background-color: transparent !important;
  color: #d8d8d8 !important;
}

.dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu {
  display: flex;
}

.dropdown-toggle::after {
  content: url(../images/arrow-down.svg) !important;
  border: none !important;
  width: 10px !important;
  vertical-align: baseline !important;
}

.navbar .navbar-right .nav-item .dropdown-toggle::after {
  content: url(../images/arrow-down-grey.svg) !important;
  border: none !important;
  width: 10px !important;
  vertical-align: baseline !important;
}

/************************************************

CSS REGLER FOR FOOTER

*************************************************/

footer {
  background-color: #3c3c3c;
  padding: 70px 0;
}

footer .footer-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
}

footer .footer-p {
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
}

footer .footer-p:hover {
  color: #ffffff;
}

/************************************************

CSS REGLER FOR GLOBAL SECTIONS (USED ON MULTIPLY PAGES)

*************************************************/

/** CSS for schedule meeting section **/

section.shedule-meeting-form {
  padding: 90px 130px 50px 100px;
  background-color: #eeeeee;
}

section.shedule-meeting-form .heading-area h2 {
  font-weight: 700;
  text-align: center;
}

section.shedule-meeting-form form {
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

section.shedule-meeting-form .form-control {
  border: transparent;
  border-radius: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  -moz-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
}

section.shedule-meeting-form select {
  background-image: linear-gradient(45deg, transparent 50%, #3c3c3c 60%), linear-gradient(135deg, #3c3c3c 40%, transparent 50%) !important;
  background-position: calc(100% - 30px) 14px, calc(100% - 20px) 14px, 100% 0;
  background-size: 10px 10px, 10px 10px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}

section.shedule-meeting-form label {
  margin-top: 20px;
}

section.shedule-meeting-form .form-2 {
  border: 1px solid #54b9a0 !important;
  padding: 15px;
}

section.shedule-meeting-form .btn-primary {
  margin-top: 40px;
}

section.shedule-meeting-form .meeting-container{
  width: 100%;
  height: auto;
  padding: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #54b9a0;
  border-left: 1px solid #54b9a0;
  border-bottom: 1px solid #54b9a0;
  background-color: #ffffff;
}

section.shedule-meeting-form .meeting-container a{
  color: #54b9a0;
}

section.shedule-meeting-form .btn-outline-secondary:hover,
section.shedule-meeting-form .btn-outline-secondary:active{
  background-color: transparent !important;
}



section.shedule-meeting-form .input-group-append {
  position: absolute;
  right: 0;
}

section.shedule-meeting-form .gj-datepicker-bootstrap [role=right-icon] button {
  border: transparent !important;
}


section.shedule-meeting-form .gj-datepicker-bootstrap [role=right-icon] button .gj-icon {
  top: 15px;
  left: 41px;
  color: #54b9a0;
}

section.shedule-meeting-form .gj-timepicker-bootstrap [role=right-icon] button {
  border: transparent !important;
}

section.shedule-meeting-form .gj-timepicker-bootstrap [role=right-icon] button .gj-icon {
  top: 15px;
  left: 41px;
  color: #54b9a0;
}

/************************************************

  CSS REGLER FOR SECTION - FRONTPAGE

*************************************************/

/** Promise section - Frontpage **/

section.promise-intro {
  padding: 30px 130px 50px 100px;
  position: relative;
}

section.promise-intro h1 {
  font-weight: 700;
  font-size: 49px;
}

section.promise-intro p {
  font-size: 20px;
}

section.promise-intro .btn-promise-ctatext {
  font-size: 12px;
}

section.promise-intro .promise-img {
  width: 120%;
  position: absolute;
  right: -30px;
}

section.promise-intro .download-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -87px;
  top: 54px;
}

/** Our Clients section - Frontpage **/

section.frontpage-our-clients {
  padding: 60px 130px 50px 100px;
  background-color: #eeeeee;
  margin-bottom: 50px;
}

section.frontpage-our-clients .heading-area {
  display: flex;
}

section.frontpage-our-clients .heading-area h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0;
  margin-right: 10px;
}

section.frontpage-our-clients .heading-area #myBtn {
  Color: #54b9a0;
  background-color: transparent;
  border: none;
  font-style: italic;
  text-decoration: underline;
}

section.frontpage-our-clients .client-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.frontpage-our-clients .client-logo-container .client-logo-specific {
  margin-top: 50px;
}

#more {
  display: none;
}

/** How it works - Frontpage **/

section.frontpage-howitworks {
  padding: 60px 130px 50px 100px;
}

section.frontpage-howitworks h2 {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 30px;
}

section.frontpage-howitworks p {
  font-size: 16px;
  margin-bottom: 40px;
}

section.frontpage-howitworks h2, section.frontpage-howitworks p {
  padding-right: 50px;
}

.flip-card {
  max-width: 217px;
  height: 240px;
  perspective: 1000px;
  margin-bottom: 30px;
}

/** How it works - flipcard - Frontpage **/

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  -moz-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 5px;
  color: #3c3c3c;
}

.flip-card-front .flip-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.flip-card-front h3 {
  position: absolute;
  top: 6px;
  left: 9px;
  font-weight: 700;
  color: #54b9a0;
  border-radius: 5px;
}

.flip-card-front .flip-card-content p {
  font-size: 13px;
  padding-right: 0;
}

.flip-card-back .flip-card-content a {
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
  color: #54b9a0 !important;
  text-decoration: underline !important;
}

.flip-card-front .flip-card-content .icon-work-image {
  max-width: 67px;
  margin-top: 20px;
}

.flip-card-back {
  display: flex;
  background-color: #3c3c3c;
  color: #ffffff;
  border-radius: 5px;
  transform: rotateY(180deg);
}

.flip-card-back h3 {
  position: absolute;
  top: 6px;
  left: 9px;
  font-weight: 700;
  color: #ffffff;
}

.flip-card-back .flip-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 15px;
}

.flip-card-back .flip-card-content p {
  font-size: 11px;
  margin-top: 26px;
}

/** Who we are - Frontpage **/

section.frontpage-whoweare {
  padding: 60px 130px 50px 100px;
}

section.frontpage-whoweare h2 {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 30px;
}

section.frontpage-whoweare p {
  font-size: 16px;
  margin-bottom: 40px;
}

section.frontpage-whoweare h2, section.frontpage-whoweare p {
  padding-right: 50px;
}

section.frontpage-whoweare img {
  width: 100%;
}

/** Our Sevice section - Frontpage **/

section.frontpage-service {
  padding: 60px 109px;
}

section.frontpage-service .heading-area h2 {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 30px;
}

section.frontpage-service .heading-area p {
  font-size: 16px;
  padding-left: 150px;
  padding-right: 150px;
}

section.frontpage-service .card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 235px;
  height: auto;
  padding: 42px 34px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  -moz-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
}

section.frontpage-service .card-container h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

section.frontpage-service .card-container h4 {
  font-size: 22px;
}

section.frontpage-service .card-container p {
  font-size: 14px;
}

section.frontpage-service .card-container .btn-primary {
  max-width: 222px;
  padding: 15px 27px !important;
  font-size: 13px !important;
}

/** Download the app - Frontpage **/

section.frontpage-download {
  padding: 300px 130px 346px 100px;
}

section.frontpage-download .heading-area {
  position: relative;
  z-index: 99;
}

section.frontpage-download h2 {
  margin-left: 145px;
  margin-top: -10px;
  font-weight: 500;
}

section.frontpage-download p {
  padding-right: 136px;
  margin-bottom: 50px;
}

section.frontpage-download .download-mockup {
  width: 177%;
  position: absolute;
  top: -207px;
  left: 10px;
}

section.frontpage-download .download-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 195px;
}

section.frontpage-download .download-container img {
  width: 95%;
}

/************************************************

  CSS REGLER FOR SECTION - LEARN

*************************************************/

section.learn-text-introduction {
  padding: 74px 130px 50px 100px;
  color: #3c3c3c;
}

section.learn-text-introduction h1 {
  font-weight: 700;
  font-size: 49px;
}

section.learn-text-introduction p {
  font-size: 20px;
}

section.learn-seminar-introduction {
  background-image: url('../images/learn-seminar.jpg');
  padding: 74px 130px 50px 100px;
}

section.learn-seminar-introduction h2 {
  font-size: 49px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 34px;
}

section.learn-seminar-introduction p {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 39px;
}

/** Blog sektion - learn **/

section.learn-blog-introduction {
  padding: 160px 130px 137px 100px;
  position: relative;
}

section.learn-blog-introduction h2 {
  font-size: 49px;
  font-weight: 500;
  margin-bottom: 34px;
}

section.learn-blog-introduction p {
  font-size: 16px;
  margin-bottom: 39px;
}

section.learn-blog-introduction img {
  position: absolute;
  right: -85px;
  bottom: -11px;
}

/** Video sektion - learn **/

section.learn-video-introduction {
  padding: 74px 130px 50px 100px;
  background-color: #eeeeee;
  position: relative;
}

section.learn-video-introduction .video-part {
  position: relative;
}

section.learn-video-introduction #overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3c3c3c url('../images/play-arrow.png');
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.8;
  z-index: 50;
  color: #fff;
}

section.learn-video-introduction .content {
  width: 100%;
  background-color: #ffffff;
  padding: 70px 20px 31px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  -moz-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
}

section.learn-video-introduction .content p {
  font-size: 16px;
  margin-bottom: 37px;
}

/** Setting up sektion - learn **/

section.learn-settingup-introduction {
  padding: 190px 130px 150px 100px;
  position: relative;
}

section.learn-settingup-introduction h2 {
  font-size: 49px;
  font-weight: 500;
  margin-bottom: 34px;
}

section.learn-settingup-introduction p {
  font-size: 16px;
  margin-bottom: 39px;
}

section.learn-settingup-introduction img {
  position: absolute;
  right: -86px;
  bottom: -25px;
}

/** Brochure sektion - learn **/

section.learn-brochure-introduction {
  background-color: #eeeeee;
  padding: 140px 130px 150px 100px;
  position: relative;
}

section.learn-brochure-introduction h2 {
  font-size: 49px;
  font-weight: 500;
  margin-bottom: 34px;
}

section.learn-brochure-introduction p {
  font-size: 16px;
  margin-bottom: 39px;
}

section.learn-brochure-introduction img {
  position: absolute;
  right: -12px;
  top: -177px;
}

/** Additional sektion - learn **/

section.learn-additional-introduction {
  background-color: #f9fafc;
  padding: 74px 130px 90px 100px;
}

section.learn-additional-introduction .additional-container {
  width: 100%;
  max-width: 500px;
  height: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  -moz-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  padding: 45px 40px;
}

section.learn-additional-introduction .additional-container .additional-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0 10px;
}

section.learn-additional-introduction .additional-container .additional-box .additional-title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0;
}

section.learn-additional-introduction .additional-container .additional-box .additional-cta {
  font-size: 19px;
  font-style: italic;
  color: #54b9a0;
  margin-bottom: 0;
}

/************************************************

CSS REGLER FOR SECTION - CASES OVERVIEW

*************************************************/

/** CSS for sections on cases page **/

section.cases-text-introduction {
  padding: 74px 130px 50px 100px;
  color: #3c3c3c;
}

section.cases-text-introduction h1 {
  font-weight: 700;
  font-size: 49px;
}

section.cases-text-introduction p {
  font-size: 20px;
}

/** Cases showcase sektion **/

section.cases-showcase {
  padding: 74px 130px 50px 100px;
}

section.cases-showcase img {
  width: 100%;
  max-width: 300px;
  min-height: 350px;
  border-radius: 5px;
  position: relative;
}

section.cases-showcase figure {
  position: relative;
}

section.cases-showcase figcaption {
  background-color: #ffffff;
  position: absolute;
  bottom: -1px;
  min-width: 300px;
  border: 1px solid #3c3c3c;
  border-radius: 0 0 5px 5px;
}

section.cases-showcase figcaption h3 {
  font-weight: 600;
  font-size: 20px;
  margin-left: 12px;
  margin-top: 12px;
}

section.cases-showcase .btn {
  max-width: 300px;
  width: 100%;
  margin-bottom: 60px !important;
}

section.cases-showcase .btn-see-all {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  font-size: 18px;
  font-weight: 700;
  color: #3c3c3c;
}

/************************************************

CSS REGLER FOR SECTION - CASE STUDY EXAMPLE

*************************************************/

/** CSS for sections on case study page **/

section.case-study-intro {
  padding: 74px 130px 50px 100px;
  color: #3c3c3c;
}

section.case-study-intro h2 {
  font-size: 49px;
  font-weight: 700;
}

section.case-study-intro p {
  font-size: 20px;
}

section.case-study-intro img {
  width: 100%;
  max-width: 430px;
}

/** Case study sektion - challenge **/

section.case-study-challenge {
  padding: 74px 130px 50px 100px;
}

section.case-study-challenge h3 {
  font-size: 42px;
  font-weight: 700;
}

section.case-study-challenge p {
  font-size: 16px;
}

/** Case study sektion - result **/

section.case-study-result {
  padding: 40px 130px 50px 100px;
}

section.case-study-result h3 {
  font-size: 42px;
  font-weight: 700;
}

section.case-study-result p {
  font-size: 16px;
}

/** Case study sektion - hero image + testimonial **/

section.case-study-heroimage img {
  width: 100%;
}

section.case-study-testimonial {
  padding: 110px 130px 75px 100px;
  background: #f9fafc url('../images/quote-mark-bg.png');
  background-repeat: no-repeat;
  background-position: left;
}

section.case-study-testimonial img {
  width: 100%;
  max-width: 95px;
}

section.case-study-testimonial .meta-up {
  display: flex;
  align-items: center;
  color: #3c3c3c;
}

section.case-study-testimonial .meta-info {
  margin-top: 15px;
  margin-left: 20px;
}

section.case-study-testimonial .meta-name {
  font-weight: 700;
  margin-bottom: 0;
}

section.case-study-testimonial .meta-down {
  margin-top: 20px;
}

/************************************************

CSS REGLER FOR SECTION - PRICING

*************************************************/

section.pricing-text-introduction {
  padding: 74px 130px 50px 100px;
  color: #3c3c3c;
}

section.pricing-text-introduction h1 {
  font-weight: 700;
  font-size: 49px;
}

section.pricing-text-introduction p {
  font-size: 20px;
}

/** Pricing list section **/

section.pricing-table {
  padding: 74px 130px 50px 100px;
}

section.pricing-table .compare-btn-container {
  color: #3c3c3c;
  border: 1px solid black;
  float: right;
  margin-top: 45px;
  padding: 10px 31px !important;
}

section.pricing-table .compare-btn-container .custom-control-label::before {
  background-color: #ffffff !important;
  border: 1px solid #3c3c3c;
}

section.pricing-table .compare-btn-container .custom-radio .custom-control-input:checked~.custom-control-label::before {
  background-color: #54b9a0 !important;
}

section.pricing-table .heading-area {
  height: 57px;
}

section.pricing-table .heading-area h3 {
  font-size: 16px;
  font-weight: 700;
}

section.pricing-table .heading-area span {
  font-weight: 400;
}

section.pricing-table .pricing-container {
  width: 100%;
  height: auto;
  border-radius: 1px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  -moz-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
}

section.pricing-table .pricing-container .pricing-content {
  padding: 19px 25px 7px;
  border-bottom: 1px solid #eeeeee;
}

section.pricing-table .pricing-container .pricing-content h4 {
  font-size: 13px;
}

section.pricing-table .pricing-container .pricing-content .checked {
  display: flex;
  width: 25px;
  margin: 0 auto;
}

/** Additional pricing section **/

section.additional-pricing {
  padding: 0px 130px 70px 100px;
}

section.additional-pricing .addtional-container-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 55px 96px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  -moz-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
}

section.additional-pricing .addtional-container-box .additional-right-content {
  width: 39%;
  margin-right: 50px;
}

section.additional-pricing .addtional-container-box .additional-right-content .additional-btn-container {
  display: flex;
  flex-direction: column;
}

section.additional-pricing .addtional-container-box .additional-right-content .additional-btn-container .btn-primary {
  margin-bottom: 32px !important;
}

/************************************************

CSS REGLER FOR SECTION - SUPPORT

*************************************************/

section.support-text-introduction {
  padding: 74px 130px 50px 100px;
  color: #3c3c3c;
}

section.support-text-introduction h1 {
  font-weight: 700;
  font-size: 49px;
}

section.support-text-introduction p {
  font-size: 20px;
}

/* FAQ section */

section.support-faq {
  padding: 74px 130px 50px 100px;
}

section.support-faq .nav li a {
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: #ffffff;
  color: #3c3c3c;
  font-weight: 700;
  font-size: 14px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  -moz-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  border-radius: 5px 5px 0 0;
}

section.support-faq .nav li a:hover {
  text-decoration: none;
  background-color: #54b9a0;
  color: #ffffff !important;
}

section.support-faq .nav li a.active {
  background: #54b9a0;
  color: #ffffff;
}

section.support-faq #exTab1 .tab-content {
  color: white;
  background-color: #54b9a0;
  padding: 37px 36px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  -moz-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  border-radius: 0 0 5px 5px;
}

section.support-faq #exTab3 .tab-content {
  color: white;
  background-color: #54b9a0;
  padding: 37px 36px;
  border-bottom: 1px solid #3c3c3c;
  border-left: 1px solid #3c3c3c;
  border-right: 1px solid #3c3c3c;
  border-radius: 0 0 5px 5px;
}

section.support-faq panel-group .panel {
  border-color: #ffffff;
}

section.support-faq .panel-title {
  font-size: 16px;
}

section.support-faq .panel-title a {
  display: block;
  padding: 15px 0;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}

section.support-faq .panel-title a .number {
  font-weight: 700;
  margin-right: 10px;
}

section.support-faq .short-full {
  float: right;
  color: #ffffff;
  margin-right: 1px;
}

section.support-faq .panel-default .panel-heading+.panel-collapse .panel-body {
  background-color: #ffffff;
  color: #3c3c3c;
  border-radius: 1px solid #3c3c3c;
  padding: 28px 29px;
}

/* Ask a question section */

section.support-ask-question .bg-container-green {
  background-color: #54b9a0;
  color: #ffffff;
  margin: 115px 0;
}

section.support-ask-question .bg-container-green .heading-area {
  padding: 79px 28px;
}

section.support-ask-question .bg-container-green .heading-area h2 {
  font-size: 49px;
  font-weight: 700;
  margin-left: 93px;
}

section.support-ask-question .heading-area-right {
  padding: 0 61px;
}

section.support-ask-question p {
  font-size: 16px;
}

/************************************************

CSS REGLER FOR SECTION - CONTACT

*************************************************/

section.contact-text-introduction {
  padding: 74px 130px 50px 100px;
  color: #3c3c3c;
}

section.contact-text-introduction h1 {
  font-weight: 700;
  font-size: 49px;
}

section.contact-text-introduction p {
  font-size: 20px;
}

/** members sektion - contact **/

section.contact-members {
  padding: 74px 130px 50px 100px;
}

section.contact-members .member-container {
  margin-bottom: 141px;
  position: relative;
}

section.contact-members .member-container .member-image {
  max-width: 300px;
  width: 100%;
}

section.contact-members .member-container .member-soc {
  margin-top: 10px;
  position: absolute;
  top: 380px;
}

section.contact-members .member-container .member-info {
  margin-top: 30px;
  margin-bottom: 15px;
}

section.contact-members .member-container .member-info .member-name {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 0;
}

section.contact-members .member-container .member-info .member-position {
  font-size: 16px;
  font-style: italic;
}

section.contact-members .member-container .member-contact-info p {
  font-family: 'Raleway', sans-serif !important;
}

section.contact-members .member-container .member-contact-info a {
  color: #54b9a0;
}

/************************************************

CSS REGLER FOR MEDIEQUIRES

*************************************************/

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}
