/************************************************

CSS REGLER FOR FONTS

*************************************************/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif !important;
}

p {
  font-family: 'Open Sans', sans-serif !important;
}

/************************************************

CSS GENERELLE REGLER

*************************************************/

.fsize-xs {
  font-size: 14px;
}

/* font-size 16px */

.fsize-sm {
  font-size: 16px;
}

/* font-size 18px */

.fsize-md {
  font-size: 18px;
}

/* font-size 30px */

.fsize-lg {
  font-size: 30px;
}

/* font-size 48px */

.fsize-xl {
  font-size: 48px;
}

/* font-size 60px */

.fsize-xxl {
  font-size: 60px;
}

/* font-size 80px */

.fsize-xxxl {
  font-size: 120px;
}

.no-padding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.justify-content{
  display: flex;
  justify-content: center;
}

/************************************************

CSS REGLER FOR KNAPPER

*************************************************/

.btn {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  padding: 10px 40px !important;
  border-radius: 5px !important;
  margin-bottom: 10px !important
}

.btn-primary {
  background-color: #54b9a0 !important;
  border: 1px solid #54b9a0 !important;
  color: #ffffff !important;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  -moz-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
}

.btn-primary:hover {
  background-color: #fbba1c !important;
  border: 1px solid #fbba1c !important;
  color: #3c3c3c !important;
}

.btn-secondary {
  background-color: #ffffff !important;
  border: 1px solid #54b9a0 !important;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  -moz-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  color: #54b9a0 !important;
}

.btn-secondary:hover {
  background-color: #3c3c3c !important;
  border: 1px solid #3c3c3c !important;
  color: #fbba1c !important;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none !important;
}

/************************************************

CSS REGLER FOR BILLEDFORMAT (JPG, PNG, SVG) OG LOGO

*************************************************/

.logo {
  max-width: 182px;
}

.footer-logo {
  max-width: 240px;
  margin-bottom: 20px;
}

.translate-svg {
  width: 15px;
  height: 15px;
  margin-right: 9px;
}

/************************************************

CSS REGLER FOR NAVIGATION

*************************************************/

.navbar {
  min-height: 100px;
  padding-left: 0 !important;
  -webkit-box-align: baseline !important;
  -ms-flex-align: baseline !important;
  align-items: baseline !important;
}

.navbar .navbar-brand {
  background-color: #54b9a0;
  padding: 16px 24px;
}

.navbar .nav-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 15px;
  margin-left: 20px;
  color: #3c3c3c;
}

.navbar .navbar-right .nav-item .nav-link {
  margin-left: 0;
  padding: 2px 19px;
}

.navbar .navbar-right .nav-item .nav-link {
  color: #d8d8d8;
}

.navbar .navbar-right .nav-item-reversed .nav-link {
  color: #ffffff !important;
}

.navbar .navbar-right .nav-item {
  background-color: #ffffff;
  border: 2px solid #d8d8d8;
  border-radius: 5px;
  margin-right: 20px;
}

.navbar .navbar-right .nav-item-reversed {
  background-color: #54b9a0 !important;
  border: 1px solid #54b9a0 !important;
}

/************************************************

CSS REGLER FOR DROPDOWN

*************************************************/

.dropdown-menu {
  font-family: 'Raleway', sans-serif !important;
  font-size: 14px !important;
  border-radius: 1px !important;
  border: none !important;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  -moz-box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  box-shadow: 0px 3px 6px 0px rgba(60, 60, 60, 0.29) !important;
  width: 24rem;
  padding: 24px 0 !important;
  margin: 16px 27px !important;
}

.dropdown-menu .noextra {
  width: 10rem !important;
  background: red !important;
  font-size: 50px !important;
}

.dropdown-menu.show {
  display: flex !important;
}

.dropdown-divider {
  border-left: 1px solid #eeeeee !important;
  min-height: 135px !important;
  position: absolute !important;
  right: 211px !important;
}

.dropdown-item:hover {
  background-color: transparent !important;
  color: #d8d8d8 !important;
}

.dropdown-toggle::after {
  content: url(../images/arrow-down.svg) !important;
  border: none !important;
  width: 10px !important;
  vertical-align: baseline !important;
}

.navbar .navbar-right .nav-item .dropdown-toggle::after {
  content: url(../images/arrow-down-grey.svg) !important;
  border: none !important;
  width: 10px !important;
  vertical-align: baseline !important;
}

/************************************************

CSS REGLER FOR FOOTER

*************************************************/

footer {
  background-color: #3c3c3c;
  padding: 70px 0;
}

footer .footer-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
}

footer .footer-p {
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
}

footer .footer-p:hover {
  color: #ffffff;
}

/************************************************

CSS REGLER FOR GLOBAL SECTIONS (USED ON MULTIPLY PAGES)

*************************************************/

/** CSS for schedule meeting section **/

section.schedule-meeting {}


  /************************************************
CSS REGLER FOR SECTION - CASES OVERVIEW
*************************************************/


/** CSS for sections on cases page **/

section.cases-text-introduction {
  padding: 74px 130px 50px 100px;
  color: #3c3c3c;
}

section.cases-text-introduction h1 {
  font-weight: 700;
  font-size: 59px;
}

section.cases-text-introduction p {
  font-size: 25px;
}

section.cases-showcase {
  padding: 74px 130px 50px 100px;
}

section.cases-showcase img {
  min-width: 300px;
  min-height: 350px;
  border: 1px solid #3c3c3c;
  border-radius: 5px;
  position: relative;
}

section.cases-showcase figure {
  position: relative;
}

section.cases-showcase figcaption {
  position: absolute;
  bottom: 10px;
  min-width: 300px;
  border-top: 1px solid #3c3c3c;
}

section.cases-showcase figcaption h3 {
  font-weight: 600;
  font-size: 20px;
  margin-left: 12px;
  margin-top: 12px;
}

section.cases-showcase .btn {
  max-width: 300px;
  width: 100%;
  margin-bottom: 60px !important;
}

/************************************************
CSS REGLER FOR SECTION - CASE STUDY EXAMPLE
*************************************************/

/** CSS for sections on case study page **/

section.case-study-intro {
  padding: 74px 130px 50px 100px;
}

section.case-study-intro h2 {
  font-size: 56px;
  font-weight: 700;
}

section.case-study-intro p {
  font-size: 25px;
}

section.case-study-intro img {
  width: 100%;
  max-width: 430px;
}

section.case-study-challenge {
  padding: 74px 130px 50px 100px;
}

section.case-study-challenge h3 {
  font-size: 42px;
  font-weight: 700;
}

section.case-study-challenge p {
  font-size: 25px;
}

section.case-study-result {
  padding: 40px 130px 50px 100px;
}

section.case-study-result h3 {
  font-size: 42px;
  font-weight: 700;
}

section.case-study-result p {
  font-size: 25px;
}

section.case-study-heroimage img {
  width: 100%;
}

section.case-study-testimonial{
  padding: 110px 130px 75px 100px;
  background: #eeeeee url('../images/quote-mark-bg.png');
  background-repeat: no-repeat;
  background-position: left;
}

section.case-study-testimonial img{
  width: 100%;
  max-width: 95px;
}

section.case-study-testimonial .meta-up{
  display: flex;
  align-items: center;
  color: #3c3c3c;
}

section.case-study-testimonial .meta-info{
  margin-top: 15px;
  margin-left: 20px;
}

section.case-study-testimonial .meta-name{
  font-weight: 700;
  margin-bottom: 0;
}

section.case-study-testimonial .meta-down{
  margin-top: 20px;
}

/************************************************

CSS REGLER FOR SECTION - CONTACT

*************************************************/



/************************************************

CSS REGLER FOR MEDIEQUIRES

*************************************************/

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}
